
.commits {

  font-family: inconsolata;

  tr.selected {
    background-color: #ACF;
  }
  td {
    padding: 1px;
  }
  .message {
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 300px;
  }

}
