div#thediff {
    padding-right: 10px;
    display: table;
}

.diff {
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 13px;
}

.diff-column-width {
  width: 85ch; /* 5ch for line numbers, 80ch for code */
  min-width: 85ch;
}
