div#thediff {
    padding-right: 10px;
    max-width: 100%;
}

.diff .line-no, .diff .code {
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 13px;
}

.diff-column-width {
    max-width: 101ch; /* 80ch for code, plus some extra wiggle room */
    min-width: 50ch;
}

#controls > p {
  vertical-align: top;
  display: inline-block;
}
#imagediff-controls {
  margin-left: 25px;
}
