div#thediff {
    padding-right: 10px;
    max-width: 100%;
}

.diff .line-no, .diff .code {
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 13px;
}

.diff-column-width {
    max-width: 101ch; /* 80ch for code, plus some extra wiggle room */
    min-width: 50ch;
}

#controls > p {
  vertical-align: top;
  display: inline-block;
}
#imagediff-controls {
  margin-left: 25px;
}

.file-selector {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

ul.file-list {
  padding: 0;
}
.file-list li {
  list-style-type: none;
}

.file-mode-toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 20px;
  height: 10px;
  overflow: hidden;
}

.arrow-holder {
  font-size: 20px;
  line-height: 20px;
  transform: rotate(90deg);
}

.file-list .diff {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url(/static/img/sprites.png) no-repeat left center;
  vertical-align: top;
}

.diff.add    { background-position: 0 0; }
.diff.change { background-position: 0 -16px; }
.diff.delete { background-position: 0 -32px; }
.diff.move   { background-position: 0 -48px; }

.side-a { border: 1px solid red; }
.side-b { border: 1px solid green; }

.overlapping-images {
  position: relative;
  margin: 5px;
}
.overlapping-images div {
  position: absolute;
}
.swipe div.side-a, .swipe div.side-b {
  background-position: 0 0;
  background-repeat: no-repeat;
}
.overlapping-images-metadata .image-props:first-child {
  margin-right: 5px;
  float: left;
}
.overlapping-images-metadata .image-props:last-child {
  margin-left: 5px;
  float: right;
}
.overlapping-images-metadata {
  overflow: hidden;
}
.image-diff {
  display: table;
}
