.diff {
  box-sizing: border-box;
}

.diff-column-width {
  max-width: 101ch;
  min-width: 40ch;
  width: 100%;
}
.diff-column {
  max-width: 50%;
}

.diff-header, .line-no-header {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding: 2px;
}

.diff-line-no {
  display: table;  /* shrink to fit longest line number */
}
.diff-left .diff-line-no {
  float: left;
}
.diff-right .diff-line-no {
  float: right;
}
.diff-remainder {
  overflow: hidden;  /* see http://stackoverflow.com/questions/5540485/how-to-make-an-inline-block-element-fill-the-remainder-of-the-line */
}

.line-no {
  color: #999;
  background-color: #f7f7f7;
}

.diff-left .line-no {
  border-right: 1px solid #ddd;
  text-align: right;
}
.diff-right .line-no {
  border-left: 1px solid #ddd;
  text-align: left;
}
.diff-left.diff-column {
  border-right: 1px solid #ddd;
}

.diff-line-no, .diff-wrapper, .diff-column {
  display: inline-block;
  vertical-align: top;
}

.diff-wrapper {
  overflow-x: auto;
  overflow-y: hidden;  /* shouldn't happen, but we sometimes get a pixel. */
}

.diff-content {
  display: table;  /* "expand to fit" */
  min-width: 100%;
}

.line-no, .code {
  padding: 2px;
  height: 1.11em;
  white-space: pre;
  font-family: monospace;
}

.diff {
  white-space: nowrap;
}

.diff-wrapper, .diff-wrapper > div {
  display: inline-block;
  vertical-align: top;
}

.diff .delete {
  background-color: #fee;
}
.diff .insert {
  background-color: #efe;
}

.diff-left-content .replace {
  background-color: #fee;
}
.diff-right-content .replace {
  background-color: #efe;
}

.diff-left-content .char-replace, .diff-left-content .char-delete {
  background-color: #fcc;
}

.diff-right-content .char-replace, .diff-right-content .char-insert {
  background-color: #cfc;
}
