div#thediff {
    padding-right: 10px;
    display: table;
}

table.diff tbody {
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 13px;
}

/* This is 80 characters plus some space */
table.diff td {
    width: 81ch;
    min-width: 81ch;
    max-width: 81ch;
}

table.diff .insert {
    background-color: #D6FFD5;
}
table.diff .delete {
    background-color: #FCD4D5;
}
table.diff .replace {
    background-color: #FBE6AF;
}
table.diff .char-replace {
    background-color: #FEDC87;
}

table.diff th.titletext {
  vertical-align: center;
}
