<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}webdiff{% endblock %}</title>

  <script src="/static/js/jquery-2.1.1.min.js"></script>

  <script src="/static/js/highlight.pack.min.js"></script>
  <link rel="stylesheet" href="/static/css/googlecode.css">

  <script src="/static/codediff.js/difflib.js"></script>
  <script src="/static/codediff.js/codediff.js"></script>
  <link rel="stylesheet" href="/static/codediff.js/codediff.css">

  <link href='/static/css/inconsolata.css' rel='stylesheet'>

  <link rel="stylesheet" href="/static/css/style.css">

  {% block head %}{% endblock %}
</head>

<body>
<div class="container">
  {% block body %}{% endblock %}
</div>
</body>
</html>
