<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}webdiff{% endblock %}</title>

  <script src="/static/components/jquery/dist/jquery.min.js"></script>
  <script src="/static/components/underscore/underscore.js"></script>

  <script src="/static/components/highlightjs/highlight.pack.js"></script>
  <link rel="stylesheet" href="/static/components/highlightjs/styles/googlecode.css">

  <script src="/static/jsdifflib/difflib.js"></script>
  <script src="/static/jsdifflib/diffview.js"></script>

  <link href='/static/css/inconsolata.css' rel='stylesheet'>

  <link rel="stylesheet" href="/static/jsdifflib/diffview.css">
  <link rel="stylesheet" href="/static/css/style.css">

  {% block head %}{% endblock %}
</head>

<body>
<div class="container">
  {% block body %}{% endblock %}
</div>
</body>
</html>
